<div class="row">
  <div class="col-sm-4 mb-4">
    <div class="card">
      <img class="card-img-top" src="https://is2-ssl.mzstatic.com/image/thumb/Video128/v4/06/49/75/06497557-10d0-dc90-45ed-13a4f342645a/pr_source.lsr/268x0w.png" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">The Fellowship of the Ring</h4>
        <p class="card-text">The story begins in the Shire, where the hobbit Frodo Baggins inherits...</p>
      </div>
    </div>
  </div>
</div>